# Premake generated build files
*.make
Makefile
lib
*.vcxproj*
*.sln
bin
*.xcworkspace
*.xcodeproj

/.devcontainer

# Premake build directory
/_build_

# Premake files
/premake5
/premake5.exe

# Compile commands
/compile_commands

# 3rd-party libraries
/external

# Ignore bitmap files to save storage
*.bmp

# Meson wrapdb
/subprojects/*-*
/subprojects/packagecache
/subprojects/wrapdb.json

# MacOS
.DS_Store
