[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
	branch = 3.3.8
[submodule "external/glm-0.9.7.1"]
	path = external/glm-0.9.7.1
	url = git@github.com:g-truc/glm.git
	branch = 0.9.7.1
[submodule "export-compile-commands"]
	path = export-compile-commands
	url = git@github.com:tarruda/premake-export-compile-commands.git
